@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #0f172a;
  color: #ffffff;
  height: 100%;
  overflow-y: auto;  /* use auto to keep scroll functional */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Hide scrollbar but keep space */
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
}

html {
  scroll-behavior: smooth;
}
