html, body {
  background-color: #0f172a;
  color: #ffffff;
  height: 100%;
  overflow-y: auto; /* or scroll */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  /* overflow: -moz-scrollbars-none;  Remove this */
}

html {
  scroll-behavior: smooth;
}
